@charset "UTF-8";

/* CSS Document */


/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#form_popup {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    z-index: 999;
}

img#close {
    position: absolute;
    right: 169px;
    top: -14px;
    cursor: pointer;
}

div#popupContact {
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
}

form {
    max-width: 428px;
    min-width: 250px;
    padding: 12px 12px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}