@charset "UTF-8";

/*! Extra Bootstrap */

.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/*! Start Universal Style*/

.software-downloads-outer {
    max-width: 960px;
    margin: auto;
    clear: both;
}

section.software-downloads-pic {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
}

section.software-downloads {
    float: left;
    max-width: 600px;
    padding-top: 10px;
}

section.software-downloads .container {
    padding-top: 20px;
    clear: both;
}

section.software-downloads .container .text {
    padding-top: 5px;
    clear: both;
}

section.software-downloads .container .driverLinks {
    display: none;
    clear: both;
}

section.software-downloads .container .driverLinkContainer {
    margin-top: 10px;
}

section.list-portrait-portals {
    margin-bottom: 50px;
    position: relative;
    padding-top: 40px;
}

section.list-portrait-portals .container {
    text-align: center;
}

section.list-portrait-portals .portrait-portal-container-3 {
    max-width: 1165px;
}

section.list-portrait-portals .portrait-portal-container-4 {
    max-width: 880px;
}

section.list-portrait-portals .portrait-portal-container-6 {
    max-width: 586px;
}

section.list-portrait-portals .portrait-portal-container-12 {
    max-width: 293px;
}

section.list-portrait-portals .portrait-portal {
    height: 280px;
    width: 243px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    cursor: pointer;
}

section.list-portrait-portals .portrait-portal:hover {
    background-color: #FEFEFE;
    outline: 3px solid #4c4c4c;
}

section.list-portrait-portals se .portrait-portal .portrait-portal-image {
    position: relative;
    height: 150px
}

section.list-portrait-portals .portrait-portal .caption {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

section.list-portrait-portals .portrait-portal .caption h4 {
    font-size: 18px;
    line-height: 1.2
}

section.list-portrait-portals .portrait-portal .caption h4 a {
    color: #121212
}

section.list-portrait-portals .portrait-portal .caption p {
    font-size: 14px
}

.checkbox-label {
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 5px;
}

.checkbox-label label {
    font-weight: normal;
    font-size: 13px;
    vertical-align: top;
    padding-top: 2px;
}

.tab-pane .col-md-8 .text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.evaluate-tab {
    max-width: 960px;
    margin: auto;
    clear: both;
    display: none;
}

section.evaluate-tab-pic {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
}

section.evaluate-tab-info {
    float: left;
    max-width: 600px;
    padding-top: 10px;
}

section.evaluate-tab-info .container {
    padding-top: 20px;
    clear: both;
}

section.evaluate-tab-info .container .text {
    padding-top: 5px;
    clear: both;
}

.evaluate-tab-result-pic {
    display: none;
}

.evaluate-tab-result-option {
    width: 100%;
    padding-top: 10px;
    padding-left: 25px;
}

#name-email-update-form .checkbox {
    padding-bottom: 15px;
}

.otherFormDiv {
    display: none;
}

.contact-support {
    padding-top: 20px;
}

.history-section {
    margin-top: 20px;
}

.history-maps-section {
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding-bottom: 10px;
}

.history-map {
    height: 200px;
    margin-bottom: 10px;
}

.history-content {}


/*! Start Rowboat Designer Style */

.tg {
    font-weight: bold;
}

.tablespecs {
    margin-top: 20px;
    border: 1px solid #ba0001;
}

tr:nth-child(even) {
    background-color: #F6F1F0!important;
}

.tabletitle {
    background-color: #ba0001;
    padding: 10px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.eventsmap {
    margin-top: 10px;
}

.body-content {
    margin: 30px 0;
}

.sitemap {
    color: #ba0001;
    margin-bottom: 20px!important;
    padding-left: 32px;
    position: relative;
}

.sitemap a {
    color: #ba0001;
    margin-left: 10px;
}

.sitemap a:hover {
    color: #000;
    text-decoration: underline;
}

.body-content h5 {
    margin-bottom: 7px;
}

section.list-portrait-portals .portrait-portal {
    height: 306px;
    width: 243px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
}

section.list-portrait-portals .portrait-portal-container-3 {
    max-width: 1165px;
}

section.list-portrait-portals .container {
    text-align: center;
}

section.list-portrait-portals .portrait-portal .caption {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.list-portrait-portals {
    margin-bottom: 40px;
    border-radius: 0;
}

.line {
    margin-bottom: 20px;
    border-radius: 0;
}

.line-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    border-radius: 0;
}

.component-item {
    height: 330px;
    width: 209px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    overflow-y: scroll;
    cursor: pointer;
}

.component-item img {
    width: 100%;
    margin-bottom: 20px;
}

.component-item h5 {
    margin-bottom: 10px;
}

.seemore {
    position: absolute;
    right: 57px;
    bottom: 10px;
}

.seemore2 {
    margin-top: 20px;
}

section .component-title {
    margin-left: 15px;
    padding: 5px;
}

.component-item:hover {
    outline: 3px solid #ccc;
    border: 1px solid #ccc;
}

.uniquely {
    position: absolute;
    width: 25px;
    top: 0px;
    left: 183px;
}

.legendicon::before {
    content: url(../images/component-detail/uniquelyIcon.png);
    margin-right: 5px;
}

.legendicon {
    margin-bottom: 10px;
}

#platform-inactive {}

#platform-inactive:hover {
    outline: 3px solid #4c4c4c;
}

#platform-active {
    outline: 3px solid #ba0001;
}

.customer-name {
    margin-top: 20px;
    font-weight: 600;
}

.customer-company,
.customer-address {
    font-style: italic;
    font-weight: 400;
}

.testimonials {
    margin-left: 80px;
}

.testimonials:before {
    font-family: fontawesome;
    content: "\F10D";
    font-size: 52px;
    color: #E4E4E4;
    position: absolute;
    left: 12px;
}

.explore {
    height: 330px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.explore img {
    width: 100%
}

section.list-portrait-portals .portrait-portal-container-4 {
    max-width: 960px;
}

section.list-portrait-portals .portrait-portal-container-4 .caption {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.explore:hover {
    outline: 3px solid #ccc;
    border: 1px solid #ccc;
}

.imagefloatright {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagefloatleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titlespace {
    margin-bottom: 15px;
}

.right-nav {
    padding-left: 23px;
    border-left: 1px solid #ccc;
    margin-left: 26px;
}
@media only screen and (max-width:490px) {
    .right-nav {
        border-left: 0px solid #ccc;
    }
}

.create-content {
    padding-right: 20px
}

#content section.list-portals header h3 .ellipe-left {
    margin-right: -5px
}

#content section.list-portals header h3 .ellipe-right {
    margin-left: -5px
}

#content section.list-portals header h3 span {
    background: #fff;
    padding: 0 10px
}

@media only screen and (max-width:767px) {
    #content section.list-portals header h3 {
        font-size: 17px
    }
}

#content section.list-portals header .line {
    height: 50px;
    margin-top: 50px;
    width: 100%;
    border-top: 1px solid #d5d5d5
}

#content section.list-portals header h3 {
    top: -15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#content section.list-portals header {
    position: relative;
    padding: 0 75px;
}

#get-sample,
#see-demo,
#test-material,
#ask-question {
    width: 400px;
    margin: auto;
    padding: 10px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: relative
}

#fullform {
    width: 673px;
    margin: auto;
    padding: 10px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: relative
}

#component-popup {
    width: 673px;
    margin: auto;
    padding: 10px;
    background: #fff;
    position: relative;
    min-height: 300px;
    position: relative;
    top: -117px;
}

#component-img {
    border: 1px solid #ccc;
    margin-top: 15px;
}

#video1,
#video2,
#video3 {
    width: 925px;
    margin: auto;
    background: trasparent;
    position: relative
}

#component-popup .mfp-close,
#video1 .mfp-close,
#video2 .mfp-close,
#video3 .mfp-close,
#fullform .mfp-close,
#get-sample .mfp-close,
#see-demo .mfp-close,
#test-material .mfp-close,
#ask-question .mfp-close {
    width: auto;
    height: auto;
    opacity: 1;
    top: -14px;
    right: -14px;
    cursor: pointer
}

@media only screen and (max-width:450px) {
    #component-popup,
    #video1,
    #video2,
    #video3,
    #fullform,
    #get-sample,
    #see-demo,
    #test-material {
        width: 300px
    }
}

.br-gallery {
    background: #fff;
    border-bottom: 4px solid #ececec
}

.br-gallery .breadcrumb {
    margin-bottom: 0;
    padding: 15px
}

.br-gallery .breadcrumb>li+li:before {
    content: "\f101";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.main-content {
    z-index: 2;
    padding-bottom: 50px;
    background: #fff;
    border-top: 4px solid #fff;
    padding-top: 30px
}

.main-content .container {
    padding: 0;
    max-width: 1000px
}

.main-content .wrap-list-gallery {
    width: 785px;
    float: left;
    margin-left: 20px
}

.main-content .wrap-list-gallery .list-gallery .item {
    width: 147px;
    height: 147px;
    float: left;
    margin: 0 5px 30px
}

.main-content .wrap-group-option {
    background: #fff;
    padding: 20px;
    border: 1px solid #c1c1c1;
    width: 190px;
    height: 1032px;
    float: left
}

.main-content .wrap-group-option .group-checked .title {
    margin-bottom: 20px;
    font-size: 16px
}

.main-content .wrap-group-option .group-checked .sub-title {
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 14px
}

.main-content .wrap-group-option .group-checked .item {
    margin-bottom: 6px
}

.main-content .wrap-group-option .group-checked .item:last-of-type {
    margin-bottom: 20px
}

.main-content .wrap-group-option .group-checked .item span {
    font-size: 12px;
    margin-left: 5px
}

.main-content .wrap-group-option .group-checked .text-more {
    text-decoration: none!important
}

.main-content .wrap-group-option .group-checked .text-more.collapsed .fa-caret-right {
    display: inline-block
}

.main-content .wrap-group-option .group-checked .text-more .fa-caret-right,
.main-content .wrap-group-option .group-checked .text-more.collapsed .fa-caret-down {
    display: none
}

.main-content .wrap-group-option .group-checked .text-more .fa-caret-down {
    display: inline-block
}

.br-gallery {
    background: #fff;
    border-bottom: 4px solid #ececec
}

.br-gallery .breadcrumb {
    margin-bottom: 0;
    padding: 15px
}

.br-gallery .breadcrumb>li+li:before {
    content: "\f101";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.main-content {
    z-index: 2;
    padding-bottom: 50px;
    background: #fff;
    border-top: 4px solid #fff;
    padding-top: 30px
}

.main-content .container {
    padding: 0;
    max-width: 1000px
}

.main-content .wrap-list-gallery {
    width: 785px;
    float: left;
    margin-left: 20px
}

.main-content .wrap-list-gallery .list-gallery .item {
    width: 147px;
    height: 147px;
    float: left;
    margin: 0 5px 30px
}

.main-content .wrap-group-option {
    background: #fff;
    padding: 20px;
    border: 1px solid #c1c1c1;
    width: 190px;
    height: 1032px;
    float: left
}

.main-content .wrap-group-option .group-checked .title {
    margin-bottom: 20px;
    font-size: 16px
}

.main-content .wrap-group-option .group-checked .sub-title {
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 14px
}

.main-content .wrap-group-option .group-checked .item {
    margin-bottom: 6px
}

.main-content .wrap-group-option .group-checked .item:last-of-type {
    margin-bottom: 20px
}

.main-content .wrap-group-option .group-checked .item span {
    font-size: 12px;
    margin-left: 5px
}

.main-content .wrap-group-option .group-checked .text-more {
    text-decoration: none!important
}

.main-content .wrap-group-option .group-checked .text-more.collapsed .fa-caret-right {
    display: inline-block
}

.main-content .wrap-group-option .group-checked .text-more .fa-caret-right,
.main-content .wrap-group-option .group-checked .text-more.collapsed .fa-caret-down {
    display: none
}

.main-content .wrap-group-option .group-checked .text-more .fa-caret-down {
    display: inline-block
}

.main-content .wrap-group-option2 .group-checked .text-more.collapsed .closecontent {
    display: none
}

.main-content .wrap-group-option2 .group-checked .text-more .closecontent,
.main-content .wrap-group-option2 .group-checked .text-more.collapsed .opencontent {
    display: block
}

.main-content .wrap-group-option2 .group-checked .text-more .opencontent {
    display: none
}

.wrap-group-option3 .group-checked .text-more.collapsed .closecontent {
    display: none
}

.wrap-group-option3 .group-checked .text-more .closecontent,
.wrap-group-option3 .group-checked .text-more.collapsed .opencontent {
    display: block
}

.wrap-group-option3 .group-checked .text-more .opencontent {
    display: none
}



.main-content h3,
.main-content h2 {
    margin-bottom: 18px;
}

.main-content .wrap-group-option .group-checked .form-group {
    margin-bottom: 0
}

.bottom-content {
    padding-top: 35px;
    margin-bottom: 0px;
}

.bottom-content .wrap-list-bottom {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.bottom-content .wrap-list-bottom .container {
    max-width: 1000px;
    padding: 0
}

.bottom-content .wrap-list-bottom .list-bottom .item {
    text-align: center;
    width: 165px;
    height: 108px;
    float: left;
    padding: 20px 10px;
    border-left: 1px solid #ddd
}

.bottom-content .wrap-list-bottom .list-bottom .item .title {
    margin-bottom: 25px;
    font-size: 16px
}

.bottom-content .wrap-list-bottom .list-bottom .item.last {
    border-right: 1px solid #ddd
}

@media only screen and (max-width:798px) {
    .wrap-list-gallery {
        float: none!important;
        margin: auto!important;
        width: 630px!important
    }
}

@media only screen and (max-width:660px) {
    .wrap-list-gallery {
        width: 472px!important
    }
}

@media only screen and (max-width:490px) {
    .wrap-list-gallery {
        width: 315px!important
    }
}

@media only screen and (max-width:1059px) {
    .main-content {
        padding-top: 20px
    }
    .bottom-content .container,
    .main-content .container {
        max-width: 100%!important;
        width: 100%!important
    }
    .bottom-content .container .list-bottom .item {
        width: 100%!important;
        float: none!important;
        height: auto!important;
        border: none!important;
        border-bottom: 1px solid #ddd!important
    }
    .bottom-content .container .list-bottom .item.last {
        border-bottom: none!important
    }
    .wrap-group-option {
        float: none!important;
        width: 100%!important;
        border: none!important;
        margin-bottom: 20px;
        height: auto!important
    }
    .wrap-group-option .group-checked {
        width: 50%;
        float: left;
        font-size: 13px;
        margin-bottom: 0!important;
        margin-top: 10px
    }
    .wrap-group-option .group-checked .form-group {
        margin-bottom: 0!important
    }
    .wrap-group-option .group-checked .title {
        font-size: 15px
    }
    .wrap-group-option .group-checked .sub-title {
        font-size: 14px;
        margin-left: 0!important
    }
    .wrap-group-option .group-checked.top {
        margin-bottom: 10px;
        width: 100%!important;
        float: none!important
    }
    .wrap-group-option .group-checked.top .wrap {
        background: #ececec
    }
    .wrap-group-option .group-checked.top .wrap .form-group {
        width: 50%!important;
        float: left!important;
        margin-bottom: 0!important;
        padding: 10px
    }
    .wrap-list-gallery {
        float: none!important;
        margin: auto!important
    }
}

.header,
.jumbotron {
    border-bottom: 1px solid #e5e5e5
}

@media only screen and (max-width:1199px) {
    .bottom-content .container,
    .main-content .container {
        width: 1000px
    }
}

.portalbottom :hover {
    /*!--outline: 3px solid #ccc;*/
    border-bottom: 3px solid #ba0001;
    background: #f9f9f9;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.portalbottom h4:hover,
.portalbottom p:hover {
    outline: none;
    border-bottom: none;
}

figure p.text-description {
    font-size: 12px;
    padding-top: 5px;
}


/*! added on 3-4-16 */

.left-slide .lSSlideOuter .lSPager.lSGallery li {
    background: #fff!important;
}

.component-item-expand {
    min-height: 330px;
    width: 209px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
}

.component-item-expand img {
    width: 100%;
    margin-bottom: 20px;
}

.component-item-expand:hover {
    outline: 3px solid #ccc;
    border: 1px solid #ccc;
}

.component-item-expand h5 {
    margin-bottom: 10px;
}


/*! from CMS 3-4-16 */

section.list-portrait-products {
    margin-bottom: 20px;
    position: relative;
    padding-top: 20px;
}

.list-portrait-products-small {
    width: 283px;
    margin-left: auto;
    margin-right: auto;
}

.list-portrait-products-medium {
    width: 566px;
    margin-left: auto;
    margin-right: auto;
}

.list-portrait-products-large {
    width: 849px;
    margin-left: auto;
    margin-right: auto;
}

.portrait-product {
    width: 243px;
    box-sizing: border-box;
    border: 1px solid #2f353a;
    height: 280px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    cursor: pointer;
}

.portrait-product :hover {
    background-color: #FEFEFE;
    outline: 3px solid #CCCCCC;
    border: 1px solid #CCCCCC;
}

.product-portal-image {
    position: relative;
    height: 150px
}

.portrait-product .product-caption {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.portrait-product .product-caption h4 {
    font-size: 24px;
    line-height: 1.2;
    padding-bottom: 10px;
}

.portrait-product .product-caption h5 {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 5px;
}

.portrait-product .product-caption p {
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 10px;
}

.section-slide-left-schematic {
    clear: both;
    padding-top: 10px;
}

.list-text i {
    margin-right: 5px;
}

.list-text h5 {
    padding-bottom: 3px;
}

table.tablespecs td {
    font-size: 14px;
    width: 50%;
}

table.tablespecs td.tabletitle {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

table.tablespecs {
    width: 100%;
}

.wrap-content-general {
    padding-top: 35px;
    margin-bottom: 25px;
}

.wrap-content-general .general-content-left {
    padding-right: 20px;
}

.container100 {
    width: 100%;
}

.general-content-right header {
    padding-bottom: 20px;
}

.general-nav-image {}

.general-nav-info {
    padding-left: 10px;
}

.general-nav-header {
    font-size: 18px;
}

.general-nav-subheader {}

.explore .caption h3 {
    padding-bottom: 10px;
}


/*! additonal */

.video-gallery-main {
    height: 317px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    background-color: #F3F3F3;
    margin-bottom: 20px;
}

.video-gallery-main img {
    width: 100%
}

.video-gallery-main:hover {
    outline: 3px solid #ccc;
    border: 1px solid #ccc;
}

.video-gallery-main .caption h3 {
    padding-bottom: 10px;
}
.photo-video {
    margin-top:30px;     
}

@media only screen and (max-width:490px) {
    .photo-video img{
    margin-bottom:30px;  
    }
    .photo-video{
    text-align:center;  
    }
    .long-form {
    padding:3px!important;
}
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.long-form {
    padding:20px;
}
.long-form-question {
    background-color:#f6f1f0; 
    width:100%; 
    padding-top:20px; 
    padding-left:20px; 
    padding-bottom:1px; 
    height:auto;
}
.long-form-container {
    outline: 1px solid #ba0001; 
    height:auto!important;
    margin-bottom:60px;
    
}
.long-form-btn {
    text-align: center;
    margin:20px;
    
}
.table-accessories td{
    padding:10px;
    border-bottom: 1px solid #ccc;
}

.table-accessories{
    outline: 1px solid #ba0001;
}
.accessories-title-form {
    font-weight:600;
}

.white-wrapper {
    box-sizing: border-box;
    margin-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 350px;
    border-bottom: 1px solid #d5d5d5;
}
.news-info {
    padding-left: 5px;
    width: 100%;
}
.news-info h5 {
    font-weight: bold;
    font-size: 12px;
}
.news-description {
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
}
.carousel-indicators2 {
    position: absolute;
    top: 270px;
    left: 715px;
}
.tech_portal_caption h5 {
    color:#121212!important;
    margin-top:20px;
    font-weight: 400;
}
.tech_portal_image {
    margin-top:20px;
    
}
.tech_portal_image:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    
}
.portal-nav-imagesmall:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    
}

.fancy {
  line-height: 0.5;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  top: 0;
  width: 370px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.materialbtn {
    width:268px;
}
/*! For Platform Landing */
.ellipe-left{
    margin-left: -41px
}
.platformlanding {
    margin-left: 30px;
}
section.step2 .wrap-step2 .tab-content .title-step2 span {
    margin-right: 30px;
    margin-left: 30px;
}
section.step2 .wrap-step2 .tab-content .title-step2 {
    position: absolute;
    top: -29px;
    left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    background: #fff;
    font-weight: 500;
}

section.step2 .wrap-step2 {
    margin-top: 51px;
    margin-bottom: 32px;
    width: 100%;
    border: 1px solid #cbcbcb;
    position: relative;
    padding-top: 19px;
    padding: 30px;
    padding-bottom: 0px;
}
.container2 {
    text-align: center;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:243px;
        height: 306px;
}
.col-min {
    /* custom min width */
    min-width:243px;
}
.col-max {
    /* custom max width */
    max-width:243px;
}
.platform-item {
	display:table;
}
.platform-content{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.platform-content:before {
    content:"";
    font-family:sans-serif;
    font-size:12px;
    letter-spacing:1px;
    color:#747474;
}

.platform-item{
    width:100%;
    height:100%;
	box-sizing: border-box;
    border: 1px solid #2f353a;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
}
@media only screen and (max-width: 490px) {
    .carousel-indicators2 {
        position: absolute;
        left: 201px!important;
        top: 212px!important;
    }
}
@media only screen and (max-width: 767px) {
    .carousel-indicators2 {
        position: absolute;
        top: 300px;
        left: 390px;
    }
}
@media only screen and (max-width: 979px) {
    .carousel-indicators2 {
        position: absolute;
        top: 246px;
        left: 563px;
    }
}
section.step .wrap-step {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #cbcbcb;
    position: relative;
    padding-top: 8px;
    padding-left: 20px;
}
.caret-right {
  border-left: 4px solid @black;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.caret{
border-color:#ffffff transparent transparent transparent;
border-width:4px;
border-style:solid;
content: "";
display:inline-block;
}



